/*======================================================================================================================================================

                                                GÉNÉRAL
 =====================================================================================================================================================*/ 
 html {
    box-sizing: content-box;
 }
 
 *,* ::before, *::after{
    box-sizing: inherit;
 }


 /*======================================================================================================================================================

                                                BASE ET BODY 
 =====================================================================================================================================================*/ 
 body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    background-color: #FFFFFF;

 }
 .wrapper {
    max-width: 1211px;
    margin: auto auto;
 }

 a {
    text-decoration: none;
 }
/*======================================================================================================================================================

                                                    MISE EN PAGE 
 =====================================================================================================================================================*/ 
 header {
    background-color: #FFFFFF;
    padding: 24px 0px 24px 0;
 }
 header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

/*======================================================================================================================================================

                                                    ÉLÉMENTS/FONTS
 =====================================================================================================================================================*/
 
 


/*======================================================================================================================================================

                                                        COMPONENENTS
 =====================================================================================================================================================*/ 