/*======================================================================================================================================================

                                                GÉNÉRAL
 =====================================================================================================================================================*/
html {
   box-sizing: content-box;
}

*,
* ::before,
*::after {
   box-sizing: inherit;
}


/*======================================================================================================================================================

                                                BASE ET BODY 
 =====================================================================================================================================================*/
body {
   font-family: "Raleway", sans-serif;
   font-optical-sizing: auto;
   background-color: #FFFFFF;

}

.wrapper {
   max-width: 1211px;
   margin: auto auto;
}

a {
   text-decoration: none;

}

.bouton {
   line-height: 100%;
}

/*======================================================================================================================================================

                                                    MISE EN PAGE 
 =====================================================================================================================================================*/

 /*------HEADER------*/

header {
   background-color: #FFFFFF;
   padding: 21px 0px 21px 0;
   position: sticky;
   top: 0;
   z-index: 999;
}

header .wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

header ul {
   display: flex;
   justify-content: space-around;
   align-items: center;
   gap: 40px;
   font: 700 1.125rem "Raleway", sans-serif;
   list-style: none;
}

.menu {
   color: #000000;
}

.menu:hover {
   color: #D300B7;
}

header h2 {
   font: 900 1.75rem "Raleway", sans-serif;
   text-transform: uppercase;
   margin: 0;

}

.bouton-pilule {
   border: 4px solid #D300B7;
   border-radius: 50vh;
   padding: 10px 30px;
   color: #D300B7;
}

.bouton-pilule:hover {
   background-color: #D300B7;
   color: #FFFFFF;
}

/*------SECTION HERO------*/

.hero {
   background: url('../images/hero.png') no-repeat bottom/cover;
   min-height: 650px;
   align-items: center;
   position: static;
}

.hero .wrapper {
   text-align: center;
   background-color: rgba(0, 0, 0, .80);
   padding: 40px;
   border-radius: 20px;
   color: #FFFFFF;
   gap: 30px;
   position: relative;
   top: 111.5px;
   left: 315px;
   align-items: center;
   justify-content: center;
   max-width: 550px;
   max-height: 427px;
}

.content .bouton {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 30px;

}

.content a {
   color: #D300B7;
   text-transform: uppercase;
   font: 700 18px "Raleway", sans-serif;
   border: 5px solid #D300B7;
   border-radius: 50vh;
   padding: 10px 30px;
   margin-top: auto;
}

/*------SECTION CONTENTBOX------*/

.contentbox {
   background-color: #222222;
   /*max-width*/
   padding: 100px 0px 100px 0px;
}

.intro {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}
/*======================================================================================================================================================

                                                    ÉLÉMENTS/FONTS
 =====================================================================================================================================================*/

/*------SECTION HERO------*/

.content h1 {
   color: #D300B7;
   font: 700 4rem "Raleway", sans-serif;
   text-transform: uppercase;
   margin: 0;
   padding: 0 0 30px 0;
   text-align: start;
}

.content p {
   font: 24px/160% "Roboto", sans-serif;
   margin: 0;
   text-align: start;
}

/*======================================================================================================================================================

                                                        COMPONENENTS
 =====================================================================================================================================================*/